<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>小方桌</string>
		<key>image</key>
		<string>smallTable.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>大方桌</string>
		<key>image</key>
		<string>bigTable.png</string>
	</dict>
</array>
</plist>
